
/* ::::: http://i.i.com.com/cnwk.1d/i/se/css/bwp/fa-fd.css ::::: */

body { color: rgb(0, 0, 0); font-family: verdana,helvetica,sans-serif; font-size: 12px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; background-color: transparent; }
a { color: rgb(0, 0, 255); text-decoration: none; }
a:hover { color: rgb(0, 0, 255); }
#bwbox { padding-left: 8px; padding-top: 12px; }
#bwhead { margin: 0pt; padding: 0pt; font-family: verdana,sans-serif; font-size: 12px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; }
ul, li { margin: 0pt; padding: 0pt; list-style-image: none; list-style-position: outside; list-style-type: none; }
li { padding: 3px 0pt; line-height: 1.3em; }
.bwtitle { color: rgb(0, 83, 153); font-size: 1.7em; }
.bwrlink { display: none; }
.bwtext { color: rgb(0, 0, 0); }
.bwtitle { font-size: 25px; }
.bwtitle { font-style: italic; }
.bwtitle { font-weight: bold; }
.bwtitle { text-decoration: underline; }
.bwtitle { color: rgb(0, 0, 0); }
.bwtitle:hover { color: rgb(255, 0, 0); }
.bwurl { color: rgb(0, 0, 204); }
.bwurl { font-size: 11px; }
body { font-size: 12px; }
p { display: none; }
li { border-bottom: 1px solid rgb(221, 221, 221); }
.bwheadtext { font-style: italic; }
#bwhead { padding-left: 180px; }
#bwhead { padding-bottom: 10px; }
#bwhead { color: rgb(62, 62, 53); }
#bwhead { font-weight: bold; }
#bwhead { font-size: 10px; }
ul { border-top: 1px solid rgb(255, 255, 255); }
ul { border-bottom: 1px solid rgb(255, 255, 255); }
body { font-family: calibri; }
.bwtitle { font-family: calibri; }
